In [68]:
import pandas as pd
import numpy as np 

import torch
from torch.utils.data import Dataset, TensorDataset, DataLoader

import dill as pickle
from pathlib import Path

import sklearn
from sklearn.model_selection import train_test_split

In [19]:
df = pd.read_csv('../../data/UCI_telescope/magic04.data', header=None)

In [22]:
df.loc[:, 10].replace({"g": 1, "h": 0}, inplace=True)

In [36]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,1
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,1
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,1
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,0
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,0
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,0
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,0
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,0

In [37]:
X, Y = np.asarray(df.loc[:, :9]), np.asarray(df.loc[:, 10])

In [62]:
x_tr, x_test, y_tr, y_test = train_test_split(X, Y, test_size=0.1)

In [78]:
tr_dataset = []
for x, y in zip(x_tr, y_tr):
    tr_dataset.append((torch.tensor(x).float(), torch.tensor(y).long()))

test_dataset = []
for x, y in zip(x_test, y_test):
    test_dataset.append((torch.tensor(x).float(), torch.tensor(y).long()))

In [79]:
with Path('../../data/UCI_telescope/tr_dataset.pkl').open('wb') as fp:
    pickle.dump(tr_dataset, fp)

with Path('../../data/UCI_telescope/test_dataset.pkl').open('wb') as fp:
    pickle.dump(test_dataset, fp)

In [80]:
train_loader = DataLoader(tr_dataset, batch_size=3)

In [81]:
x, y = next(iter(train_loader))

In [82]:
x

tensor([[ 2.0506e+01,  1.2823e+01,  2.3531e+00,  5.1000e-01,  2.6830e-01,
          9.9865e+00,  1.4066e+01,  8.7369e+00,  1.7010e+00,  2.0563e+02],
        [ 1.8649e+02,  6.2643e+01,  3.5001e+00,  1.4580e-01,  1.1070e-01,
         -2.5073e+02, -7.7938e+01,  5.4655e+01,  6.7958e+01,  2.5620e+02],
        [ 4.3649e+01,  1.7184e+01,  2.7846e+00,  2.4960e-01,  1.3550e-01,
          3.6979e+01, -2.5997e+01,  1.1346e+01,  3.5170e+00,  1.9496e+02]])

In [83]:
df = pd.read_csv('../../data/UCI_EEG/dataset.csv', header=None)

In [84]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,1
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,1
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,1
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,1
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,1

In [87]:
X, Y = np.asarray(df.loc[:, :13]), np.asarray(df.loc[:, 14])
x_tr, x_test, y_tr, y_test = train_test_split(X, Y, test_size=0.15)

tr_dataset = []
for x, y in zip(x_tr, y_tr):
    tr_dataset.append((torch.tensor(x).float(), torch.tensor(y).long()))

test_dataset = []
for x, y in zip(x_test, y_test):
    test_dataset.append((torch.tensor(x).float(), torch.tensor(y).long()))

with Path('../../data/UCI_EEG/tr_dataset.pkl').open('wb') as fp:
    pickle.dump(tr_dataset, fp)

with Path('../../data/UCI_EEG/test_dataset.pkl').open('wb') as fp:
    pickle.dump(test_dataset, fp)

In [88]:
train_loader = DataLoader(tr_dataset, batch_size=3)
x, y = next(iter(train_loader))

In [89]:
x

tensor([[4220.0000, 3972.8201, 4216.9199, 4093.8501, 4332.8198, 4616.4102,
         4071.7900, 4607.6899, 4206.1499, 4224.1001, 4174.3599, 4243.5898,
         4548.7202, 4290.7700],
        [4287.6899, 3984.1001, 4263.0801, 4105.6401, 4328.7202, 4606.1499,
         4051.2800, 4624.6201, 4195.3799, 4229.7402, 4192.8198, 4276.4102,
         4591.7900, 4357.9502],
        [4294.8701, 4014.3601, 4263.0801, 4136.9199, 4346.6699, 4621.5400,
         4081.5400, 4606.1499, 4183.5898, 4223.5898, 4198.4600, 4257.9502,
         4587.1802, 4358.9702]])